<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="webjars/jquery/3.0.0/jquery.js"></script>
    <script src="webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="/css/prova.css">-->
    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>
<body>

    <header class="header">
        <p><a href="#" th:href="@{/register}">Registrami</a></p>
        <!--<p><a href="#" th:href="@{/login}">LogMeIn</a></p>-->
        <p><a href="#" th:href="@{/}">Home</a></p>
        <form method="post" th:action="@{/logout}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
        </form>

    </header>


</body>
</html>